<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Xin lưu ý: Website sử dụng cơ sở dữ liệu miễn phí nên khi truy vấn nhiều sẽ xảy ra hiện tượng quá tải bộ nhớ dẫn đến không có dữ liệu trả về</h1>
    <br>
    <h1>Nếu xảy ra hiện tượng trên, vui vòng quay lại sau vài phút</h1>
    <br>
    <a href="https://docs.google.com/spreadsheets/d/1lKDVu8hSKUxhx7k5bSLV6sJvuQ2fycFVueVjZ3LGjps/edit?usp=sharing"><h3>Link and Data Input</h3></a>
</body>
</html>